[user]
	name = Johnny-Liao
	email = 1020157***@qq.com
[alias]
	ci = commit
	st = status
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset -%C(yellow)%an%Creset' --abbrev-commit --date=relative




